[tool.poetry]
name = "openeo-processes-dask"
version = "0.1.0"
description = "Python implementations of many OpenEO processes, dask-friendly by default."
authors = ["Lukas Weidenholzer <lukas.weidenholzer@eodc.eu>", "Sean Hoyal <sean.hoyal@eodc.eu>", "Valentina Hutter <valentina.hutter@eodc.eu>"]
license = "Apache 2.0"
readme = "README.md"
repository = "https://github.com/Open-EO/openeo-processes-dask"
classifiers = [
    "Development Status :: 4 - Beta",
    "Intended Audience :: Developers",
    "License :: OSI Approved :: Apache 2.0",
    "Operating System :: Ubuntu",
    "Programming Language :: Python",
    "Programming Language :: Python :: 3",
    "Programming Language :: Python :: 3 :: Only",
    "Programming Language :: Python :: 3.9",
    "Typing :: Typed",
]

packages = [
    { include = "openeo_processes_dask" }
]


[tool.poetry.dependencies]
python = ">=3.9,<3.10"
geopandas = "^0.12.1"
xarray = "^2022.11.0"
dask = {extras = ["array"], version = "^2022.11.1"}
rasterio = "^1.3.4"
dask-geopandas = "^0.2.0"
datacube = "^1.8.9"
xgboost = "^1.7.1"
rioxarray = "^0.13.1"
odc-algo = "^0.2.3"
openeo-pg-parser-networkx = "^2022.11.0"

[tool.poetry.dev-dependencies]
pytest = "^7.2.0"
ipykernel = "^6.15.1"
matplotlib = "^3.5.3"
folium = "^0.12.1"
mapclassify = "^2.4.3"

[tool.poetry.group.dev.dependencies]
bokeh = "<3"
pre-commit = "^2.20.0"

[build-system]
requires = ["poetry-core>=1.0.0"]
build-backend = "poetry.core.masonry.api"
